manifest {
    name = 'Nextflow helloword'
    description = 'A workflow to print helloword with different languages using nextflow'
    author = 'Davi J. Marcon <davijosuemarcon@gmail.com>'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.04'
}

docker.enabled = true
includeConfig 'conf/standard.config'
